@import '../../styles/colors';

.button {
  align-items: center;
  background: $purple;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  height: 40px;
  justify-content: center;
  max-width: 100%;
  padding: 0 12px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  transition-duration: 0.4s;
  transition-property: box-shadow, color, background, border-color;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background: $purple;
    color: $white;
    text-decoration: none;
  }

  &Block {
    display: flex;
    min-width: 0;
    width: 100%;
  }

  &Lg {
    height: 48px;
    font-size: 18px;
    padding: 0 20px;
  }

  &_unstyled {
    min-width: 0;
    background-color: transparent;
    border-radius: 0;
    color: $purple;
    height: auto;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $purple;
    }
  }

  &_asLink {
    min-width: 0;
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    height: auto;
    padding: 0;
    font-size: inherit;
    text-decoration: underline;
    vertical-align: baseline;

    &:hover {
      background-color: transparent;
      color: inherit;
      text-decoration: none;
    }
  }

  &_black {
    background-color: $black;
    color: $white;
  }

  &_borderedBlack {
    background-color: transparent;
    color: $black;
    border: 1px solid $black;

    &:hover {
      border-color: $purple;
    }
  }
  
  &_whiteBorderedBlack {
    background-color: $white;
    color: $black;
    border: 1px solid $black;

    &:hover {
      border-color: $purple;
    }
  }

  &._disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}
