$white: #fff;
$black: #212121;
$purple: #6c2bf5;
$light-purple: lighten($purple, 25%);
$grey: #757575;
$greyDark: #4a4a4a;
$green: #51c356;
$light-grey: lighten($grey, 25%);
$lighter-grey: lighten($grey, 55%);
$red: #f45422;
$green: #51c356;
$border: #cccccc;
$warning: #ff8181;
$darker-warning: #f44336;
$link: #6748cb;
$tab: #6c2bf5;
$background: #fafafa;
$underline: #6748cb;
$text: #232323;
